/*
	index.css

	Cameron Holley
	Comp20 Spring 2019
	Assignment 1
	Jan 31, 2019

	Styling guide for personal homepage
*/

html { 
	background: url(2Trees.jpeg) no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Sans-Serif";
}

#header {
	text-align: center;
	color: white;
	font-size: 9px;
	position: relative;
	top:280px;
}

 	.js-loading *,
	.js-loading *:before,
	.js-loading *:after {


#pic {
 	margin: 0 auto;
 	position: fixed;
 	right:20px;
 	bottom:20px;

 	/* Animating the picture to fade in */
 	animation-name:img-ani;
 	animation-duration: 3s;   
 	animation-timing-function: ease-in;
 	animation-play-state: paused !important;
} 


/* Adjusting size of picture */        
#pic img {
	max-width: 350px;
  	height: auto;
  	width: auto\9; /* ie8 */

}

/* Adjusting animation */
@keyframes img-ani {
 	from{opacity:0;}
 	to{opacity: 1;}
}

