/*
	index.css

	Cameron Holley
	Comp20 Spring 2019
	Assignment 1
	Jan 31, 2019

	Styling guide for personal homepage
*/

html { 
	background: url(2Trees.jpeg) no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}