/*
	resume.css

	Cameron Holley
	Comp20 Spring 2019
	Assignment 1
	Jan 31, 2019

	Styling guide for resume web page
*/

html { 
	background: url(sky.jpeg) no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Montserrat";
	margin-left:20px;
}

.position {
	font-style: italic;
}

#header {
	text-align: center;

}

ul {
	list-style-type: circle;

}

